.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    text-align: justify;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hf-color {
    background-color: rgb(231, 231, 231) !important;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}